.button {
  font-family: "Oswald", "Arial", sans-serif;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 44px;
  width: 280px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &--text {
    &-dark-grey {
      color: @tundora;
    }

    &-white {
      color: @white;
    }
  }

  &--green {
    background-color: @basic-green;
  }

  &--basic-grey {
    background-color: @basic-grey;
  }
}
