.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: @tablet-width) {
  .card {
    background-color: @basic-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
}

.card__img {
  display: inline-block;
  margin: 0 auto;

  &--first {
    transform: translate(53%, 40%);
  }

  &--second {
    transform: translate(33%, 31%);
  }

  &--third {
    transform: translate(53%, 60%);
  }

  &--fourth {
    transform: translate(33%, 31%);
  }

  &--fifth {
    transform: translate(53%, 64%);
  }

  &--sixth {
    transform: translate(33%, 31%);
  }

  &--seventh {
    transform: translate(47%, 52%);
  }
}

@media (min-width: @tablet-width) {
  .card__img {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;


    &--first {
      top: -47px;
      width: 161px;
      height: 172px;
    }

    &--second {
      top: -74px;
      width: 168px;
      height: 207px;
    }

    &--third {
      top: -49px;
      width: 163px;
      height: 174px;
    }

    &--fourth {
      top: -75px;
      width: 168px;
      height: 200px;
    }

    &--fifth {
      top: -45px;
      width: 161px;
      height: 171px;
    }

    &--sixth {
      top: -74px;
      width: 168px;
      height: 200px;
    }

    &--seventh {
      top: -47px;
      width: 163px;
      height: 174px;
    }
  }
}

@media (min-width: @desktop-width) {
  .card__img {
    &--first {
      top: -53px;
    }

    &--second {
      top: -80px;
    }

    &--third {
      top: -55px;
    }

    &--fourth {
      top: -81px;
    }

    &--fifth {
      top: -51px;
    }

    &--sixth {
      top: -80px;
    }

    &--seventh {
      top: -53px;
    }
  }
}

@media (min-width: @tablet-width) {
  .card__desc {
    margin: 111px 0 0 0;
  }
}

.card__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 22px 0 0 0;
  text-transform: uppercase;
  color: @special-dark-grey-2;
}

@media (min-width: @tablet-width) {
  .card__name {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .card__name {
    margin: 18px 0 0 0;
  }
}

.card__mobile-new-line {
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .card__mobile-new-line {
    display: none;
  }
}

.card__tablet-new-line {
  display: none;
}

@media (min-width: @tablet-width) {
  .card__tablet-new-line {
    display: inline-block;
  }
}

.card__characteristics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  font-family: "Arial", sans-serif;
  color: @tundora;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 13px 0 0 0;
  text-transform: capitalize;

  &--text-bigger {
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: @tablet-width) {
  .card__characteristics {
    font-size: 16px;
    line-height: 16px;
    margin: 10px 0 0 0;
  }
}

@media (min-width: @tablet-width) {
  .card__key {
    padding: 8px 0 8px 0;
    border-bottom: 1px solid @special-grey;
  }
}

.card__value {
  text-align: right;
  margin: 0;

  &--text-lowercase {
    text-transform: lowercase;
  }
}

@media (min-width: @tablet-width) {
  .card__value {
    padding: 8px 0 8px 0;
    border-bottom: 1px solid @special-grey;
  }
}

.card__link {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin: 22px 0 23px 0;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .card__link {
    margin: 0 0 38px 0;
  }
}
