.contact {
  display: flex;
  justify-content: space-between;
  padding: 29px 20px 24px;
}

@media (min-width: @tablet-width) {
  .contact {
    padding: 62px 68px 55px 71px;
  }
}

@media (min-width: @desktop-width) {
  .contact {
    padding: 65px 85px 56px 76px;
    z-index: 1;
  }
}

.new-line {
  display: none;
}

@media (min-width: @tablet-width) {
  .new-line {
    display: inline-block;
  }
}

.contact__offer {
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;
  color: @bunker;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .contact__offer {
    font-size: 20px;
    line-height: 26px;
  }
}

.contact__address {
  font-family: "Arial", sans-serif;
  margin: 0;
  color: @tundora;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-right: 4px;
}

@media (min-width: @tablet-width) {
  .contact__address {
    font-size: 16px;
    text-align: right;
    line-height: 20px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .contact__address {
    text-align: left;
    margin-left: 96px;
  }
}
