.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__owner {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: @tundora;
  text-decoration: none;
  margin-right: 20px;
}

.copyright__logo path {
  fill: @special-grey-2;
}
