.form {
  &--container {
    padding: 0 20px;
  }
}

@media (min-width: @tablet-width) {
  .form {
    &--container {
      padding: 0 68px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;

    box-sizing: border-box;
    min-width: @desktop-width;
  }
}

.form__title {
  padding: 0 20px;
  margin: 26px 0 0 0;
}

@media (min-width: @tablet-width) {
  .form__title {
    padding: 0 68px;
    margin: 35px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .form__title {
    grid-column: 1 / span 2;
    margin: 16px 0 0 0;
    padding: 0 110px;
  }
}

.form__guide {
  margin: 36px 0 30px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form__guide {
    margin: 56px 0 60px;
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form__guide {
    margin: 57px 0 66px;
    padding: 0 110px;
  }
}

// .form__inner-wrapper {
//   padding: 0 110px;
// }

.form__cat-info {
  padding: 10px 20px 23px;
}

@media (min-width: @tablet-width) {
  .form__cat-info {
    padding: 5px 68px 72px 71px;
  }
}

@media (min-width: @desktop-width) {
  .form__cat-info {
    grid-column: 1;
    padding: 0 0 0 110px;
  }
}

.form__program {
  position: relative;
  display: flex;
  border: none;
  margin: 0;
  flex-direction: column;
  padding: 26px 20px 1px 30px;
  border-top: 1px solid @alto;
  border-bottom: 1px solid @alto;
}

@media (min-width: @tablet-width) {
  .form__program {
    padding: 30px 55px 5px 50px;
    margin: 0 68px 0 71px;
    border: 1px solid @alabaster;
    grid-column: 2;
  }
}

@media (min-width: @desktop-width) {
  .form__program {
    padding: 30px 55px 5px 55px;
    margin: 0 110px 0 0;
    border: 1px solid @alabaster;
  }
}

@media (min-width: @tablet-width) {
  .form__new-line {
    display: none;
  }
}

.form__cat-owner {
  padding: 35px 20px 0 20px;
  background-image: @fade-green;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .form__cat-owner {
    padding: 75px 68px 0 70px;
    background-position: 0 3px;
  }
}

@media (min-width: @desktop-width) {
  .form__cat-owner {
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    grid-column-gap: 80px;
    padding: 77px 110px 0 110px;
  }
}

.form__comment {
  padding: 36px 20px 0 20px;
  background-image: @fade-green;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .form__comment {
    padding: 76px 68px 0 70px;
    background-position: 0 4px;
  }
}

@media (min-width: @desktop-width) {
  .form__comment {
    grid-column: 1 / span 2;
    padding: 76px 110px 0 110px;
  }
}

.form__option {
  display: flex;
  flex-direction: column;
  padding: 38px 20px 0 20px;
  background-image: @fade-green;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 1px;
}

@media (min-width: @tablet-width) {
  .form__option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 57px;
    padding: 63px 68px 0 70px;
    background-position: 0 4px;
  }
}

@media (min-width: @desktop-width) {
  .form__option {
    grid-column: 1 / span 2;
    padding: 61px 110px 0 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.form__field {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

@media (min-width: @tablet-width) {
  .form__field {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.form__radio {
  margin-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .form__radio {
    margin-bottom: 23px;
  }
}

.form__caption {
  margin: 0 0 0 -25px;
  color: @black;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  padding: 0 22px 0 25px;
  background-color: @white;

  &--owner {
    margin-top: 25px;
  }

  &--comment {
    margin-top: 25px;
  }

  &--additional {
    margin-top: 21px;
  }
}

@media (min-width: @tablet-width) {
  .form__caption {
    margin: 0 0 0 -3px;
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-left: -40px;

    &--owner {
      margin-top: 75px;
    }

    &--comment {
      margin-top: 65px;
    }

    &--additional {
      margin-top: 63px;
      grid-column: 1 / span 2;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__caption {
    margin: 0 0 0 -40px;

    &--owner {
      margin-top: 68px;
      grid-column: 1 / span 2;
    }

    &--comment {
      margin-top: 46px;
    }

    &--additional {
      margin-top: 67px;
      grid-column: 1 / span 2;
    }
  }
}

.form__bottom {
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .form__bottom {
    padding: 0 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .form__bottom {
    padding: 0 110px;
    grid-column: 1 / span 2;
    justify-content: start;
    align-items: center;
    margin-bottom: 35px;
  }
}

.form__submit {
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .form__submit {
    width: 282px;
    height: 52px;
    margin-top: 42px;
    margin-left: 2px;
    margin-bottom: 70px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .form__submit {
    width: 568px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin: 21px 0 33px 0;
}

@media (min-width: @tablet-width) {
  .form__note {
    font-size: 16px;
    line-height: 16px;
    margin: 0 107px 31px 0;
  }
}

@media (min-width: @desktop-width) {
  .form__note {
    margin: 0 0 0 79px;
  }
}
