@media (min-width: @desktop-width) {
  .logo {
    &:hover {
      .logo__tablet {
        fill-opacity: 0.8;
      }
    }

    &:active {
      .logo__tablet {
        fill-opacity: 0.6;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .logo__img {
    width: 174px;
    height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .logo__img {
    width: 202px;
    height: 59px;
  }
}

@media (min-width: @tablet-width) {
  .logo__mobile {
    display: none;
  }
}

.logo__tablet {
  display: none;
}

@media (min-width: @tablet-width) {
  .logo__tablet {
    display: inline;
  }
}

.logo__text {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid @alto;
  padding: 40px 0 26px 0;
}

@media (min-width: @tablet-width) {
  .logo__text {
    border: none;
    padding: 26px 0;
    margin: 35px 0 40px 0;
  }
}

@media (min-width: @desktop-width) {
  .logo__svg {
    &:hover {
      fill-opacity: 0.8;
    }

    &:active {
      fill-opacity: 0.6;
    }
  }
}
