.navbar__list {
  list-style: none;
}

.navbar__item {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.navbar__link {
  text-decoration: none;
  color: @black;
}
