.page-footer {
  position: relative;

  &--grey {
    background-color: @basic-grey;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__contact {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: @white;

  }
}

.page-footer__bottom {
  background-color: @basic-grey;
}

@media (min-width: @tablet-width) {
  .page-footer__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: @basic-grey;
  }
}

.page-footer__location {
  margin: 0 auto;
  background-color: @basic-grey;
}

.page-footer__map {
  border: 0;
  width: 100%;
  height: 363px;
}

@media (min-width: @tablet-width) {
  .page-footer__map {
    width: 100%;
    height: 400px;
  }
}
