.page__body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: @white;

  &--background {
    &--active {
      background: @lighten-green, url("../img/index-background-mobile.jpg"), @promo;
      background-repeat: no-repeat;
      background-position: 64% 264px;
      background-size: 100% 302px, auto, 100% 302px;
    }

    @media (min-width: @tablet-width) {
      &--active {
        background: none;
      }
    }

    @media (min-width: @desktop-width) {
      &--active {
        background: @lighten-green, url("../img/index-background-desktop.jpg"), @trout;
        background-size: 50.5% 694px, auto, 50.5% 694px;
        background-position: top right;
        background-repeat: no-repeat;
      }
    }
  }
}
