.page-footer {
  position: relative;

  &--grey {
    background-color: @basic-grey;
  }
}

.page-footer__bottom {
  background-color: @basic-grey;
}

@media (min-width: @tablet-width) {
  .page-footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: @basic-grey;
  }
}

.page-footer__location {
  margin: 0 auto;
  background-color: @basic-grey;
}

.page-footer__map {
  border: 0;
  width: 100%;
}

.page-footer__text-logo {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid @alto;
  padding: 34px 0 26px 0;
}

@media (min-width: @tablet-width) {
  .page-footer__text-logo {
    width: 30%;
    border: none;
    text-align: left;
  }
}
