.page-main__title {
  margin-top: 26px;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    margin-top: 35px;
    margin-bottom: 165px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    margin-top: 17px;
  }
}

.page-main__programs {
  margin: 22px 0 0 0;
}

@media (min-width: @tablet-width) {
  .page-main__programs {
    margin: 527px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .page-main__programs {
    margin: 267px 0 0 0;
  }
}
