.page-main__programs {
  margin: 22px 0 0 0;
}

@media (min-width: @tablet-width) {
  .page-main__programs {
    margin: 605px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .page-main__programs {
    margin: 267px 0 0 0;
  }
}
