.page-header {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    box-sizing: border-box;
    min-width: @desktop-width;
    padding: 53px 110px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__row {
  padding: 0 20px;
  min-height: 65px;
  border-bottom: 1px solid @mercury;

  display: grid;
  grid-template-columns: 34px 101px 1fr;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .page-header__row {
    border: 0;
    padding: 0;
    min-height: 0;
    display: inline-block;
  }
}

.page-header__logo-text {
  margin: 4px 0 0 55px;
}

@media (min-width: @tablet-width) {
  .page-header__logo-text {
    display: none;
  }
}

.page-header__toogle {
  justify-self: end;
  margin: -4px 16px 0 0;
}

@media (min-width: @tablet-width) {
  .page-header__toogle {
    display: none;
  }
}
