.promo {
  color: @white;
  font-weight: 400;
  background-image: url("../img/index-background-desktop.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 302px;
    background-color: @lighten-green;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  margin-top: 90px;
}
