.promo {
  color: @white;
  font-weight: 400;
  background-image: url("../img/index-background-desktop.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  margin-top: 90px;
}
