.form__radio-wrapper {
  display: flex;
  flex-direction: column;
}

.radio__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: @special-dark-grey-2;
}

@media (min-width: @tablet-width) {
  .radio__text {
    font-size: 20px;
    line-height: 30px;
  }
}
