.real-story {
  &--background {
    background: @background-grey;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &--background {
      background-size: 100% 50%;
      background-position: bottom;
    }
  }
}

.real-story__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: @tundora;
}

.real-story__start {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.real-story__end {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
