.real-story {
  padding-top: 1px;
  padding-bottom: 33px;

  &--margin-top {
    margin: 41px 0 0 0;
  }

  &--background {
    background: @background-cararra;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &--border-top {
      border-top: 1px solid @mercury;
    }

    &--background {
      background-size: 100% 43%;
      background-position: bottom;
    }

    &--margin-top {
      margin: 7px 0 0 0;
    }
  }

  @media (min-width: @desktop-width) {
    &--border-top {
      border-top: 0;
    }

    &--background {
      background-size: 100% 74%;
    }

    &--margin-top {
      margin: 0;
    }
  }
}

@media (min-width: @tablet-width) {
  .real-story {
    padding-bottom: 26px;
  }
}

@media (min-width: @desktop-width) {
  .real-story {
    padding-bottom: 0;

    &--background {
      background-image: @background-cat;
    }
  }
}

@media (min-width: @tablet-width) {
  .real-story__content {
    padding-top: 1px;
  }
}

@media (min-width: @desktop-width) {
  .real-story__content {
    display: flex;
  }
}

@media (min-width: @tablet-width) {
  .real-story__result {
    margin-top: 45px;
  }
}

@media (min-width: @desktop-width) {
  .real-story__result {
    margin-top: 60px;
    width: 366px;
  }
}

.real-story__title {
  text-align-last: left;
  margin: 25px 0 0 0;
}

@media (min-width: @tablet-width) {
  .real-story__title {
    margin: 40px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .real-story__title {
    margin: 27px 0 0 0;
  }
}

.real-story__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: @tundora;
  margin: 35px 0 0 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .real-story__text {
    margin: 64px 0 0 0;
    font-size: 16px;
    line-height: 24px;
    padding-right: 6px;
  }
}

@media (min-width: @desktop-width) {
  .real-story__text {
    margin: 147px 775px 0 0;
  }
}

.real-story__chronicle {
  position: relative;
}

@media (min-width: @tablet-width) {
  .real-story__chronicle {
    min-height: 677px;
  }
}

@media (min-width: @desktop-width) {
  .real-story__chronicle {
    min-height: 627px;
  }
}

.real-story__slider-bar {
  margin: 26px 0 0 0;
  text-align: center;
}


.real-story__start-wrapper {
  text-align: center;
}

.real-story__img {
  &--before {
    margin: 27px 0 0 -20px;
    width: 311px;
  }

  &--after {
    display: none;
  }
}

.real-story__end-wrapper {
  display: none;
}

@media (min-width: @tablet-width) {
  .real-story__start-wrapper {
    display: flex;
    justify-content: center;
  }

  .real-story__img {
    position: absolute;
    display: block;
    transform: translateX(-50%);

    &--before {
      top: 40px;
      left: 53%;
      width: 677px;
      height: 520px;
      clip: rect(0, 342px, 520px, 0);
    }

    &--after {
      top: 66px;
      left: 54%;
      width: 535px;
      height: 522px;
      clip: rect(0, 510px, 522px, 238px);
    }
  }

  .real-story__end-wrapper {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .real-story__img {
    transform: translateX(0);

    &--before {
      top: -56px;
      left: -628px;
      width: 677px;
      height: 520px;
      clip: rect(0, 362px, 520px, 0);
    }

    &--after {
      top: -32px;
      left: -553px;
      width: 535px;
      height: 522px;
      clip: rect(0, 510px, 522px, 266px);
    }
  }
}

.real-story__start,
.real-story__end {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 14px;
  margin-left: 18px;
}

.real-story__end {
  margin-left: 12px;
}

@media (min-width: @tablet-width) {
  .real-story__slider-bar {
    box-sizing: border-box;
    min-width: 572px;

    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .real-story__start,
  .real-story__end {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    border-bottom: 1px dotted @black;
  }
}

@media (min-width: @desktop-width) {
  .real-story__slider-bar {
    bottom: 71px;
    left: -285px;
  }
}

.real-story__scale {
  display: inline-block;
  position: relative;
  width: 84px;
  height: 14px;
  background-color: @white;
  border-radius: 10px;

  &::before {
    position: absolute;
    top: 3px;
    left: 6px;
    border-radius: 10px;
    content: "";
    width: 35px;
    height: 6px;
    background-color: @basic-green;
  }
}

@media (min-width: @tablet-width) {
  .real-story__scale {
    width: 428px;
    height: 6px;
    background-color: @special-grey-4;

    &::before,
    &::after {
      display: block;
      cursor: pointer;
      position: absolute;
      content: "";
      border-radius: 50%;
    }

    &::before {
      top: -13.5px;
      left: 46.7%;
      width: 33px;
      height: 33px;
      background-color: @white;
      border: 1px solid @special-grey;
    }

    &::after {
      top: 0;
      left: 50%;
      width: 8px;
      height: 8px;
      background-color: @basic-green;
    }
  }
}


@media (min-width: @desktop-width) {
  .real-story__scale {
    &:hover {
      &::before {
        box-shadow: 0 2px 4px 0 @black-light-19;
      }
    }

    &:active {
      &::before {
        box-shadow: 0 3px 5px 0 @black-light-20;
        border: 1px solid @basic-green;
      }
    }
  }
}
