.social__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid @alto;
  padding: 0 81px 15px 73px;
  margin: 21px 0 0 0;
}

@media (min-width: @tablet-width) {
  .social__list {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.social__item:not(:last-of-type) {
  margin-right: 37px;
}
