.success__value {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.success__key {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
}
