.textarea {
  font-family: "Oswald", "Arial", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: @tundora;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .textarea {
    font-size: 20px;
    line-height: 30px;
  }
}
