.toggle {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: @white;

  &--active {
    .toggle__inner {
      background-color: transparent;

      &::before {
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        right: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

.toggle__box {
  display: inline-block;
  width: 24px;
  height: 18px;
  position: relative;
  background-color: @white;
}

.toggle__inner,
.toggle__inner::before,
.toggle__inner::after {
  width: 24px;
  height: 1.5px;
  position: absolute;
  left: 0;
  background-color: @black;
  transition-property: transform;
  transition-duration: 0.15s;
}

.toggle__inner {
  top: 50%;

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: -8px;
    left: 0;
  }

  &::after {
    top: 8px;
    right: 0;
  }
}
